In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],'key2' : ['one', 'two', 'one', 'two', 'one'],
                'data1' : np.random.randn(5),'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0 -3.914073  0.344360    a  one
1 -0.971174  1.988775    a  two
2  0.231237 -0.509933    b  one
3  0.454886  1.160261    b  two
4 -0.239871 -0.177851    a  one

In [3]:
grouped=df['data1'].groupby(df['key1'])
grouped

In [4]:
grouped.mean()

key1
a   -1.708373
b    0.343061
Name: data1, dtype: float64

In [8]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -2.076972
      two    -0.971174
b     one     0.231237
      two     0.454886
Name: data1, dtype: float64

In [9]:
means.unstack()

key2       one       two
key1
a    -2.076972 -0.971174
b     0.231237  0.454886

In [10]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [12]:
t=df.groupby('key1')['data1']

In [14]:
t.mean()

key1
a   -1.708373
b    0.343061
Name: data1, dtype: float64

In [15]:
df['data1'].groupby(df['key1']).mean()

key1
a   -1.708373
b    0.343061
Name: data1, dtype: float64

In [16]:
grouped.describe()

key1
a     count    3.000000
      mean    -1.708373
      std      1.944874
      min     -3.914073
      25%     -2.442624
      50%     -0.971174
      75%     -0.605523
      max     -0.239871
b     count    2.000000
      mean     0.343061
      std      0.158143
      min      0.231237
      25%      0.287149
      50%      0.343061
      75%      0.398973
      max      0.454886
dtype: float64

In [17]:
grouped.agg('mean')

key1
a   -1.708373
b    0.343061
Name: data1, dtype: float64

In [20]:
grouped.agg(['mean', 'std', 'max'])

          mean       std       max
key1
a    -1.708373  1.944874 -0.239871
b     0.343061  0.158143  0.454886

In [21]:
grouped.agg(['describe'])

            describe
key1
a    count  3.000000
     mean  -1.708373
     std    1.944874
     min   -3.914073
     25%   -2.442624
     50%   -0.971174
     75%   -0.605523
     max   -0.239871
b    count  2.000000
     mean   0.343061
     std    0.158143
     min    0.231237
     25%    0.287149
     50%    0.343061
     75%    0.398973
     max    0.454886

In [22]:
df

      data1     data2 key1 key2
0 -3.914073  0.344360    a  one
1 -0.971174  1.988775    a  two
2  0.231237 -0.509933    b  one
3  0.454886  1.160261    b  two
4 -0.239871 -0.177851    a  one

In [23]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')
k1_means

      mean_data1  mean_data2
key1
a      -1.708373    0.718428
b       0.343061    0.325164

In [24]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0 -3.914073  0.344360    a  one   -1.708373    0.718428
1 -0.971174  1.988775    a  two   -1.708373    0.718428
4 -0.239871 -0.177851    a  one   -1.708373    0.718428
2  0.231237 -0.509933    b  one    0.343061    0.325164
3  0.454886  1.160261    b  two    0.343061    0.325164

In [25]:
frame = DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})

In [26]:
factor = pd.cut(frame.data1, 4)
factor[:10]

0       (-0.455, 1.32]
1     (-2.229, -0.455]
2       (1.32, 3.0948]
3       (-0.455, 1.32]
4       (-0.455, 1.32]
5       (-0.455, 1.32]
6       (-0.455, 1.32]
7       (-0.455, 1.32]
8     (-2.229, -0.455]
9    (-4.0112, -2.229]
Name: data1, dtype: category
Categories (4, object): [(-4.0112, -2.229] < (-2.229, -0.455] < (-0.455, 1.32] < (1.32, 3.0948]]

In [27]:
frame.data1.describe()

count    1000.000000
mean        0.042367
std         1.002592
min        -4.004110
25%        -0.630515
50%         0.023937
75%         0.745373
max         3.094844
Name: data1, dtype: float64

In [28]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),'count': group.count(), 'mean': group.mean()}

In [29]:
grouped = frame.data2.groupby(factor)

In [31]:
grouped.apply(get_stats).unstack()

                   count       max      mean       min
data1
(-4.0112, -2.229]   11.0  1.122289 -0.387583 -1.415678
(-2.229, -0.455]   303.0  2.712844  0.063024 -3.327077
(-0.455, 1.32]     583.0  2.973440 -0.081851 -3.325392
(1.32, 3.0948]     103.0  2.641430  0.108685 -2.484897

In [33]:
factor.describe()

count               1000
unique                 4
top       (-0.455, 1.32]
freq                 583
Name: data1, dtype: object

In [35]:
grouping = pd.qcut(frame.data1, 10, labels=False)
grouping

0      6
1      2
2      9
3      3
4      7
5      7
6      5
7      4
8      1
9      0
10     7
11     8
12     0
13     5
14     9
15     5
16     7
17     0
18     7
19     0
20     7
21     6
22     4
23     6
24     2
25     5
26     5
27     1
28     9
29     1
      ..
970    6
971    1
972    3
973    2
974    1
975    2
976    6
977    8
978    4
979    6
980    3
981    5
982    6
983    3
984    3
985    9
986    9
987    7
988    9
989    9
990    0
991    4
992    3
993    8
994    7
995    6
996    1
997    3
998    8
999    7
Name: data1, dtype: int64

In [36]:
grouped = frame.data2.groupby(grouping)
grouped

In [37]:
grouped.apply(get_stats).unstack()
# divide into 100-100 groups and take their max,mean,min

       count       max      mean       min
data1
0      100.0  2.680461 -0.000299 -3.327077
1      100.0  2.552359  0.115165 -2.728303
2      100.0  2.324308  0.014939 -2.554425
3      100.0  2.973440  0.021062 -2.642074
4      100.0  2.919927 -0.093214 -2.552394
5      100.0  2.879876 -0.091679 -3.325392
6      100.0  2.268464 -0.142868 -2.451826
7      100.0  2.414165 -0.094693 -1.826911
8      100.0  2.132254 -0.040519 -2.572362
9      100.0  2.641430  0.095187 -2.484897

In [38]:
grouping = pd.qcut(frame.data1, 10)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

                    count       max      mean       min
data1
[-4.00411, -1.226]  100.0  2.680461 -0.000299 -3.327077
(-1.226, -0.819]    100.0  2.552359  0.115165 -2.728303
(-0.819, -0.497]    100.0  2.324308  0.014939 -2.554425
(-0.497, -0.244]    100.0  2.973440  0.021062 -2.642074
(-0.244, 0.0239]    100.0  2.919927 -0.093214 -2.552394
(0.0239, 0.29]      100.0  2.879876 -0.091679 -3.325392
(0.29, 0.556]       100.0  2.268464 -0.142868 -2.451826
(0.556, 0.923]      100.0  2.414165 -0.094693 -1.826911
(0.923, 1.326]      100.0  2.132254 -0.040519 -2.572362
(1.326, 3.0948]     100.0  2.641430  0.095187 -2.484897